.PokedexItem {
  padding: 5px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  margin: 3px;

  img {
    transition: transform .5s;
    will-change: scale;
  }

  figcaption {
    font-size: 0.875rem;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;

    &:focus {
      opacity: .7;
    }
  }

  &:hover {
    img {
      transform: scale(1.5);
    }
  }
}


.PokedexItem:hover {
  &.fire {
    background: linear-gradient(to bottom, transparentize(#ff1a00, .3) 0%, transparentize(#ff5d00, .3) 100%);
  }
  &.water {
    background: linear-gradient(to bottom, transparentize(#1e5799, .3) 0%, transparentize(#7db9e8, .3) 100%);
  }
  &.grass {
    background: linear-gradient(to bottom, transparentize(#52b152, .3) 0%, transparentize(#005700, .3) 98%);
  }
  &.poison {
    background: linear-gradient(to bottom, transparentize(#ad1283, .3) 0%, transparentize(#840e65, .3) 100%);
  }
  &.fly {
    background: linear-gradient(to bottom, transparentize(#ebe9f9, .3) 0%, transparentize(#c1bfea, .3) 100%);
  }
  &.electric {
    background: linear-gradient(to bottom, #fceabb 0%, #f8b500 100%);
  }
  &.flying {
    background: linear-gradient(to bottom, #d5ebfb 0%, #89c3eb 100%);
  }
  &.bug {
    background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
  }
  &.ground {
    background: linear-gradient(to bottom, #f3e2c7 0%, #b68d4c 100%);
  }
  &.fairy {
    background: linear-gradient(to bottom, #fcecfc 0%, #ff7cd8 100%);
  }
  &.dark {
    background: linear-gradient(to bottom, #131313 0%, #4c4c4c 100%);
  }
  &.rock {
    background: linear-gradient(to bottom, #f0b7a1 0%, #8c3310 100%);
  }
  &.steel {
    background: linear-gradient(to bottom, #c9dae5 0%, #b5c6d0 100%);
  }
  &.ice {
    background: linear-gradient(to bottom, #9ee8fa 0%, #d6f9ff 100%);
  }
  &.fighting {
    background: linear-gradient(to bottom, #f6e6b4 0%, #ed9017 100%);
  }
  &.normal {
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);
  }
}